.wtu-form-block {
  position: relative;
}

.wtu-form {
  * {
    border-radius: 0px;
  }
  .form-group {
    margin-top: 0rem;
    margin-bottom: 10px;
    padding-top: 0px;

    input {
      height: 50px;
    }
    .form-control {
      border-radius: 0px;
      background-color: #121212;
      color: #999;
      border: 0px;
      padding: 8px 12px;

      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #555;
        opacity: 1; /* Firefox */
      }
    }
  }
}

* {
  font-family: 'Verdana';
}