<!-- <section class="landing-section" style="background: url('/assets/img/homepage-mockp/02_Home page.png')">
  <img src="/assets/img/homepage-mockp/02_Home page.png" alt="">
</section> -->
<section class="for-homeheader">
  <app-responsive-home-header></app-responsive-home-header>
</section>
<section class="for-device dev-lg">
  <app-home-lg></app-home-lg>
</section>
<section class="for-device dev-md">
  <app-home-md></app-home-md>
</section>
<section class="for-device dev-sm">
  <app-home-sm></app-home-sm>
</section>

<section class="for-device dev-md dev-sm for-bottom-nav">
  <app-bottom-nav></app-bottom-nav>
</section>