.screen-warning-box {
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200000;
  background-color: #212121;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.orientation-change-box-1 {
  background-image: url('/assets/img/window-orientation.png');
}

.extra-small-screen-box {
  background-color: #000;
  background-image: url('/assets/img/too-small-screen.png');
}