.vas-accordion-panel {
  transition: all 0.3s  cubic-bezier(.25, .8, .25, 1);
  &:not(:last-child):not(.open) {
    margin-bottom: 2px;
  }
  background-color: #242424;
  .panel-header-icon mat-icon {
    transition: all 0.3s  cubic-bezier(.25, .8, .25, 1);
  }
  .vas-accordion-header {
    display: block;
    width: 100%;
    padding: 8px 15px 8px 24px;
    line-height: 1;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;

    &:hover, &.open {
      transition: all 0.3s  cubic-bezier(.25, .8, .25, 1);
      background-color: rgba(255, 255, 255, 0.025);
    }

    div.row {
      align-items: center;

      .col.panel-header-icon {
        max-width: 74px;

        mat-icon {
          font-size: 18px;
        }
      }
    }
  }

  .vas-accordion-content {
    height: 0px;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    box-sizing: border-box;
    overflow: hidden;
    .vas-accordion-content-box {
      padding: 1.5rem;
      // display: none;
    }
  }

  &.open {
    &:not(:first-child) {
      margin-top: 1rem;
    }
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
    .panel-header-icon mat-icon {
      transform: rotate(-180deg);
    }
    .vas-accordion-content {
      height: auto;
      .vas-accordion-content-box {
        display: block;
      }
    }
  }
}