<section class="about-page-landing-lg">
  <div class="main-block">
    <div class="container">
      <div class="about-us-text">
        <span class="about">About</span>
        <span class="us">US</span>
      </div>
    </div>
  </div>
</section>
<section class="about-us-content py-5 my-5">
  <div class="container">
    <div class="w-100 py-5">
      <div class="row align-items-center">
        <div class="col">
          <p>
            VASMA was created to empower the independent music industry. Such a simple statement right? Wrong. Theres so much that goes behind our mission statement. Our CEO has spent extensive hours researching and meeting people within the industry and what he found is something everyone seems to turn a blind eye to: RECORD DEALS. A record deal is a legal agreement between a record label and a recording artist (or group), where the artist makes a record (or series of records) for the label to sell and promote.
          </p>
          <p>
            Big chains, big houses, big cars and a big lifestyle overall. Thats what really makes us tick in this industry right? Lets face it, you want to live lavish, a successful career in the music industry can do that for you. So many people are enticed by the things they see the celebrities do, wear and surround themselves with, that they have no idea what the artist had to do to get there in the first place. Time and time again, there’s been reports of artists giving up everything for a contract with a record label. The label says they’ll provide everything you need to live the lifestyle you dream about and in return, X number of albums and X number of sales in X amount of time. If you don’t deliver? Yep, you guessed it. You are then stripped of all benefits of the record label and have to start all over again from square one. 
          </p>
          <p>This brings me to our mission statement: Empowering the independent music industry. Our goal here at VASMA is simple: Give the venue owners and musicians what is rightfully theirs. YES, THE MONEY! The industry is filled with snakes, but this platform keeps the grass cut real short for you. Not only can you build your talent or business, but you can also advertise your progression for everyone to see. Its practically the resume you never got a chance to create. Our app tracks absolutely everything from financial interactions, ratings, comments, followers and so much more! Now you have a place where you can securely find accredited studios to lay down your tracks AND find venues to showcase your talent. VASMA is your one stop shop to becoming financially independent in your music and entertainment career with NO SUBSCRIPTION COST!</p>
        </div>
        <div class="col text-center">
          <img class="natural laptop-frames" src="/assets/img/backgrounds/about/comb-1.png" alt="">
        </div>
      </div>
    </div>
    <div class="w-100 py-5">
      <div class="row align-items-center mt-5">
        <div class="col text-center">
          <img class="natural phone-frames" src="/assets/img/backgrounds/about/front-page.png" alt="">
        </div>
        <div class="col">
          <p>
            Thus, VASMA was born.VASMA was created to empower the independent music industry. Such a simple statement right? Wrong. Theres so much that goes behind our mission statement. Our CEO has spent extensive hours researching and meeting people within the industry and what he found is something everyone seems to turn a blind eye to: RECORD DEALS. A record deal is a legal agreement between a record label and a recording artist (or group), where the artist makes a record (or series of records) for the label to sell and promote.
          </p>
          <p>
            Big chains, big houses, big cars and a big lifestyle overall. Thats what really makes us tick in this industry right? Lets face it, you want to live lavish, a successful career in the music industry can do that for you. So many people are enticed by the things they see the celebrities do, wear and surround themselves with, that they have no idea what the artist had to do to get there in the first place. Time and time again, there’s been reports of artists giving up everything for a contract with a record label. The label says they’ll provide everything you need to live the lifestyle you dream about and in return, X number of albums and X number of sales in X amount of time. If you don’t deliver? Yep, you guessed it. You are then stripped of all benefits of the record label and have to start all over again from square one. 
          </p>
          <p>
            This brings me to our mission statement: Empowering the independent music industry. Our goal here at VASMA is simple: Give the venue owners and musicians what is rightfully theirs. YES, THE MONEY! The industry is filled with snakes, but this platform keeps the grass cut real short for you. Not only can you build your talent or business, but you can also advertise your progression for everyone to see. Its practically the resume you never got a chance to create. Our app tracks absolutely everything from financial interactions, ratings, comments, followers and so much more! Now you have a place where you can securely find accredited studios to lay down your tracks AND find venues to showcase your talent. VASMA is your one stop shop to becoming financially independent in your music and entertainment career with NO SUBSCRIPTION COST!
          </p>
        </div>
      </div>
    </div>
    <div class="w-100 py-5">
      <div class="row align-items-center mt-5">
        <div class="col">
          <p>
            VASMA was founded by Saied (SideGod) Mohammed. Saied has been an artist for 12+ years. In the midst of trials and tribulations, he’d still focus on composing music he felt the world needed to hear. Without missing a beat, he signed up for a subscription of ProTools and went to work engineering his own music. At one point in time, his hard drive was filled to capacity! Along with samples and beats for mixing, his most prized possession: 6 mixtapes and 2 albums ready to be published. This was a collection of all the hard work he’d completed over the past 5 years, diversifying hip-hop, pop and R&B with Caribbean flavor. The plan was to gradually release each tape and perform with new content time and time again. He was determined to follow the path of a musician and loved the feeling of being on stage. There was a rush that he characterizes as “indescribable”. He was ready to start working full time. 
          </p>
          <p>
            “…Theres a feeling like no other on that stage. Whether you have 5 or 500 people watching, its about giving the crowd what they paid for. As entertainers, we do it for the adrenaline and the feeling of satisfaction when you know you gave it your all. You record every performance and watch it a hundred times over because you need perfection across your entire performance. Breath control, movements, dance moves, crowd incorporation.. these all play major parts in the perfect performance and each one is a different beast to tackle. Theres always something to learn. All of this comes before the money and eventually your passion for the art will take it there. This is what I live for and by developing VASMA, the platform now allows me to share the same feeling with every aspiring artist out there.”
          </p>
          <p>
            On the night of January 21st, 2018 Saied had been completing the finishing touches and publishing “Darkside the Mixtape” on Soundcloud. That very night, a haunting feeling came over him. Tossing and turning thinking about how to find the right venues to perform at, and networking with engineers to make sure the sound was consistent across the board. He’d then did the research and created a list of studios and venues he would set out to network and perform with. He then branched off in thought. “There are so many other artists out there that don’t have access to this database of information that’s such a crucial part of their career as a musician” When he woke up the next morning, he found the hard work he’d slaved behind the mic for 5 years had been entirely dissipated. The hard drive crashed and all files were now irretrievable.
          </p>
        </div>
        <div class="col text-center">
          <img class="natural laptop-frames" src="/assets/img/backgrounds/about/macbook-pro-bezel-2.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
