.home-header {
  height: 60px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  background-color: #181818;
  z-index: 1000;
  padding: 5px 0px;
  transition: all 0.3s ease-in-out;
  &.at-zero {
    height: 80px;
    padding: 15px 0px;
    background-color: transparent;
  }
}

@media screen and (min-width: 1520px) {
  .home-header {
    height: 70px;
    padding: 10px 0px;

    &.at-zero {
      padding: 30px 0px;
      background-color: transparent;
      height: 120px;
    }
  }
}


.nav-link-list {
  display: inline-block;
  padding: 0px;
  margin-bottom: 0px;
  list-style: none;
  li {
    display: inline-block;
    padding: 0px 16px;

    a {
      display: inline-block;
      height: 50px;
      line-height: 50px;
      color: #FFF;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 500;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      // padding: 0px 8px;
      transition: all 0.3s ease-in-out;
      position: relative;

      &.active {
        color: #F00;
        font-weight: 500;
        &::after {
          content: '';
          width: 100%;
          display: block;
          height: 1.5px;
          position: absolute;
          bottom: 13px;
          background-color: #F00;
        }
      }
      &:hover {
        &::after {
          content: '';
          width: 100%;
          display: block;
          height: 1.5px;
          position: absolute;
          bottom: 13px;
          background-color: #FFF;
        }
      }
    }
  }
}