<div class="spinner-box" *ngIf="config.type == 'spinner'" [ngStyle]="spinnerBoxStyle">
  <div class="spinner" [ngStyle]="spinnerStyle">
    <div class="spinner-value" *ngIf="config.showVal" [ngStyle]="valueStyle">
      <span class="value">{{config.value}}</span>
      <span class="perc" *ngIf="config.showPerc">%</span>
    </div>
    <mat-progress-spinner [strokeWidth]="config.sWidth" [color]="config.color" [diameter]="config.dia" [mode]="config.mode" [value]="config.value"></mat-progress-spinner>
  </div>
</div>
<!-- <div class="bar-spinner" *ngIf="config.type == 'bar'">
  <div class="spinner-value" *ngIf="config.showVal">
    <span class="value">{{config.value}}</span>
    <span class="perc" *ngIf="config.showPerc">%</span>
  </div>
</div> -->